/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-white: #FFFFFF;
    --main-gray: #F8F9FA;
    --main-red: #F25F5C;
    --main-hover: #E14C49;
    --main-blue: #245C73;
    --main-blight: #2F6F88;
    --main-yellow: #F9A825;
    --main-black: #333333;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-black);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.5rem;
}

@media (max-width: 991px) {
    h1 {
        font-size: 2.7rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 100%;
    overflow-x: hidden;
}

p {
    color: #444;
}

/* ------------------- Utility ---------------- */
.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 0 20px;
}

.btn {
    display: inline-block;
    background: var(--main-red);
    color: var(--main-white);
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 0.25s ease;
}

.btn:hover {
    background: var(--main-hover);
    transform: translateY(-2px);
}

.icons {
    color: var(--main-blue);
    font-size: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card {
    background: var(--main-white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    border: 1px solid var(--main-blue);
}

.card h3 {
    margin-bottom: 10px;
}

section {
    padding: 100px 0;
}

.section-header {
    max-width: 700px;
    margin: auto;
    margin-bottom: 50px;
}

.section-header p {
    margin-top: 10px;
}

.section-background {
    background: var(--main-gray);
}

.background-blue {
    background: var(--main-blue);
}

.background-blight {
    background: var(--main-blight);
}

.background-blue h1, .background-blue h2, .background-blight h2 {
    color: var(--main-white);
}

.background-blue p, .background-blight p {
    color: #E5E7EB;
}

/* Quote */
.quote {
    max-width: 620px;
    margin: auto;
    padding: 0 40px;
    font-style: italic;
    text-align: center;
    quotes: "\201C", "\201D"
}

.quote p {
    color: var(--main-white);
}

.quote p::before {
    content: open-quote;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--main-yellow);
}

.quote p::after {
    content: close-quote;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--main-yellow);
}

@media (max-width: 768px) {
    .icons {
        font-size: 1.7rem;
    }
    .quote {
        width: 100%;
    }
    .hide-br {
        display: none;
    }
}

/* Header */
.header {
    background: var(--main-white);
    border-bottom: 1px solid #eee;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.header.scrolled {
    padding: 5px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

/* Nav links */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 18px 20px;
}

.header.scrolled .nav {
    padding: 0px 20px;
}

.logo img {
    width: 90px;
    transition: all 0.3s ease;
}

.header.scrolled .logo img {
    width: 70px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #6B7280;
    font-weight: 500;
    font-weight: 500;
    transition: all 0.2s ease;
}

.nav-links a:hover {
    color: #e24b50;
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropbtn {
    display: flex;
    align-items: center;
    gap: 6px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    min-width: 180px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
    z-index: 100;
}

.dropdown-content a {
    display: block;
    padding: 12px 15px;
    color: #333;
    white-space: nowrap;
}

.dropdown-content a:hover{
    background: var(--main-gray);
}

/* Show dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

#google_translate_element {
    margin-left:10px;
    font-size:14px;
}

.dropbtn i {
    font-size: 0.8rem;
    transition: transform 0.2s ease;
}

.dropdown:hover i {
    transform: rotate(180deg);
}

/* Menu-toggle*/
.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    padding-bottom: 20px;
}

/* Responsive menu-toggle */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: tanslateY(-50%);
    }
    
    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 20px 0;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    }

    .nav-links.active {
        display: flex;
    }
}

/* Footer */
.footer {
    background: var(--main-black);
    text-align: center;
    margin-top: auto;
    padding: 20px 0;
}

.footer p {
    color: var(--main-white);
}

/* ---------------- Home page ------------------------- */

/* Hero Section */
.hero {
    padding: 100px 0;
    background: var(--main-blue);
}

.hero-text {
    max-width: 550px;
}

.hero-text h1 {
    margin-bottom: 15px;
    color: var(--main-white);
}

.hero-intro {
    font-size: 1.05rem;
    margin-bottom: 15px;
    color: #E5E7EB
}

.hero-support {
    font-size: 0.95rem;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.hero-btn {
    padding: 14px 28px;
    font-size: 1rem;
}

/* Image styling */

.hero img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    filter: brightness(90%);
}

/* Responsive */
@media (max-width:768px) {

    .hero-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero-text {
        margin: auto;
    }

    .hero-image{
        margin-top: 20px;
    }

}

/* Start Here Section */

.start-here {
    padding: 70px 0;
    text-align: center;
}

.start-link {
    display: inline-block;
    margin-top: 15px;
    color: var(--main-red);
    font-weight: bold;
}

.start-link:hover {
    text-decoration: underline;
}

/* Resources Section */
.features {
    padding: 60px 0;
    text-align: center;
}

/* stories section */

.stories {
    padding: 50px 0;
    text-align: center;
}

.stories .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
}

.stories .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .hero-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .nav {
        flex-direction: column;
    }

    nav {
        margin-top: 10px;
    }

    .logo {
        width: 70px;
    }
}

/* --------------- About page ----------------------- */

/* About Intro */
.about-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    /* margin-top: 40px; */
}

.about-intro img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

/* Page sections spacing */
.about-section {
    /* margin-top: 60px; */
    text-align: center;
    /* padding: 40px 0; */
}

.about-section p {
    max-width: 700px;
    margin: auto;
}

/* Values */
.values-grid {
    margin-top: 30px;
}

/* Call to Action */
.about-cta {
    /* margin-top: 60px; */
    text-align: center;
    padding-bottom: 40px;
}

.about-cta p {
    max-width: 600px;
    margin: auto;
}

/* Responsive */
@media(max-width: 768px){
    .about-intro {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

/* -------------------- Education page -----------------------*/

/* education intro section */
.education-journey {
    text-align: center;
}

.education-journey i {
    font-size: 1.4rem;
}

.education-path h4 {
    font-size: 1.5rem;
    
}

#stateSelect {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin: 30px auto;
    display: block;
}

#educationResults h3 {
    margin-bottom: 30px;
}

#educationResults h4 {
    padding-bottom   : 10px;
}

#educationResults i {
    font-size: 1.5rem;
}

#educationResults ul {
    padding-left: 30px;
}

@media (max-width: 600px) {
    #educationResults ul {
        padding-left: 60px;
    }
}

#educationResults ul li {
    text-align: left;
    list-style-type: circle;
}

#educationResults a {
    color: var(--main-red);
}

#educationResults a:hover {
    color: var(--main-hover);
    text-decoration: underline;
    font-weight: 600;
}

.placeholder {
    text-align: center;
    margin-top: 40px;
    color: #555;
}

/* -------------------- Contact Us page --------------------- */

/* Contact-intro section */
.contact i {
    font-size: 1.2rem;
}

.contact-intro p {
    color: #555;
}

/* contact information */
.contact-info {
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .contact-info {
        margin: 100px 0;
    }
}

/* Responsive */

@media (max-width: 768px) {
    .contact-info {
        grid-row: 1;
        margin: 0;
    }
    .form {
        grid-row: 2;
    }
}

/* contact form */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form legend {
    text-align: center;
    font-size: 2rem;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control input, textarea {
    padding: 10px;

}

.form-control .btn {
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .form-control input, textarea {
        padding: 8px;
    }

    .form-control .btn {
        font-size: 1rem;
    }
}

/* contact quick links */
.contact-bottom {
    text-align: center;
}
